<html>

<head>
  <meta charset="UTF-8" />
  <title>BOARD</title>
  <link href="static/css/bootstrap.min.css" rel='stylesheet' />
</head>

<body>

  <div class='container'>
    
      <div class='form-inline' style='margin-top:30px'>
        <h1>게시판</h1>

      </div>

      <form action="board" method="get">



        <div class=" form-inline row justify-content-end">
          <a href='boardw'style='margin-right:10px' class="btn btn-outline-dark">글쓰기</a>
          <a href='index' style='margin-right:10px' class="btn btn-outline-dark">홈으로</a>
          <input type=hidden name='no' value='1' />
          <select  name="type" class="form-control">
            <option value="brd_title">제목</option>
            <option value="brd_content">내용</option>
            <option value="brd_writer">작성자</option>
          </select>&nbsp;

          <input type="text" name="text" class="form-control" placeholder="검색어" />&nbsp;
          <input type="submit" class="btn btn-outline-success" value="검색"style='margin-right:5px' />
          <a  href='board?no=1&type=brd_title&text=' class="btn btn-outline-success">검색초기화</a>
        </div>
      </form>

      <div class='form-inline' >
        <table class="table table-bordered" style='width:100%;'>
          <tr>
            <th style='width:5%'>#</th>
            <th style='width: 50%;'>제목</th>
            <th style='width:15%'>작성자</th>
            <th style='width:20%'>작성일</th>
            <th style='width:10%'>조회수</th>
          </tr>

          {% for i in data %}
          <tr>

            <td name='num'>{{i[0]}}</td>
            <td><a href='boardc?no={{i[0]}}&type={{sear[0]}}&text={{sear[1]}}' class='text-muted'>{{i[1]}}</a></td>
            <td>{{i[3]}}</td>
            <td>{{i[5]}}</td>
            <td>{{i[4]}}</td>



          </tr>
          {% endfor %}
        </table>

        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              {%if no != 1%}
              <a class="page-link" href="?no={{no-1}}&type={{sear[0]}}&text={{sear[1]}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
              {%endif%}
            </li>
            {%if leng > 3%}
            {%for i in range(1,leng+1)%}
            {%if no == i%}
            <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{i}}
                <span class="sr-only">(current)</span>
              </span>
              {%else%}
            <li class="page-item"><a class="page-link" href="?no={{i}}&type={{sear[0]}}&text={{sear[1]}}">{{i}}</a></li>
            {%endif%}
            {%endfor%}
            <!-- <li class="page-item"><a class="page-link" >...</a></li> -->
            {%elif leng == 3%}
            {%for i in range(1,4)%}
            {%if no == i%}
            <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{i}}
                <span class="sr-only">(current)</span>
              </span>
              {%else%}
            <li class="page-item"><a class="page-link" href="?no={{i}}&type={{sear[0]}}&text={{sear[1]}}">{{i}}</a></li>
            {%endif%}
            {%endfor%}
            {%elif leng == 2%}
            {%for i in range(1,3)%}
            {%if no == i%}
            <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{i}}
                <span class="sr-only">(current)</span>
              </span>
              {%else%}
            <li class="page-item"><a class="page-link" href="?no={{i}}&type={{sear[0]}}&text={{sear[1]}}">{{i}}</a></li>
            {%endif%}
            {%endfor%}
            {%elif leng == 1%}
            <li class="page-item active" aria-current="page">
              <span class="page-link">
                1
                <span class="sr-only">(current)</span>
              </span>

              {%endif%}




              {%if no != leng%}
            <li class="page-item">
              <a class="page-link" href="?no={{no+1}}&type={{sear[0]}}&text={{sear[1]}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>


              </a>
              {%endif%}
            </li>


          </ul>

        </nav>

      </div>
    </div>
  
</body>

</html>