<html>
    <head>
        <meta charset="UTF-8">
        <title> ID DELETE </title>
        <link href='static/css/bootstrap.min.css' rel='stylesheet' />
        
    </head>
    <body>
        <div class='container' >
            <h1>회원탈퇴</h1>
            <form action='delete' method="POST">
            <table>
                <tr>
                <th>비밀번호를 입력하세요</th>
            </tr>
            <tr>
                <td><input type="password"name='password' class="form-control" minlength="8" maxlength="20" placeholder="password" required aria-label="Username"
                    aria-describedby="addon-wrapping"></td>
            </tr>
            </table>
            <div class='input_chk'>
                    <input type="checkbox" id='check' class='chk'required >
                    <label for='check' id='terms'>탈퇴에 동의 하십니까?</label>
                    </div>
            <button type="submit" class="btn btn-dark">확인</button>   
            <button type="button" class="btn btn-dark" onclick='history.back()'>취소</button>   
        </form>
    </div>
     
    </body>
</html>