<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시판</title>
</head>
<body>
        <style>      
                table {border: 1px solid #ec720d;}
        </style>
        <div class='container' align='center' style='margin-top:20px'>
                <h1>R.I.P</h1>
                <h3>Restaurant In Program</h3>
        </div>
        <div style='margin-top:50px'></div>
        
        <table border="1" bordercolor="blue" width ="800" height="350" align = "center" >
                <tr align = "center">
                <td width ="140" >REST_NAME</td>
                <td>REST_Contents</td>
                </tr>

                <tr>
                <td height="180" align='center'><img src="\static\icon\sashimi.png"><br>
                <a href="#" class="btn btn-lg btn-secondary" onclick="location.href='/rest/board'">more detail</a></td>
                <td>식당명: 고봉김밥<br>평점: 4<br>가격대:5500~<br>도보:3분</td>
                </tr>

                <tr>
                <td height="180" align='center'><img src="\static\icon\burger.png"><br><a href="detail">more detail</a></td>
                <td>식당명: 고봉김밥<br>평점: 4<br>가격대:5500~<br>도보:3분</td>
                </tr>

                <tr>
                <td height="180" align='center'><img src="\static\icon\bibimbap.png"><br><a href="detail">more detail</a></td>
                <td>식당명: 고봉김밥<br>평점: 4<br>가격대:5500~<br>도보:3분</td>
                </tr>

                <tr>
                <td height="180" align='center'><img src="\static\icon\kimchi.png"><br><a href="detail">more detail</a></td>
                <td>식당명: 고봉김밥<br>평점: 4<br>가격대:5500~<br>도보:3분</td>
                </tr>

                </tr>
            </table>
</body>
</html>