<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
        <div class='container' width='600px'>1</div>
</body>
</html>



<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link href="static/css/mystyle.css" rel="stylesheet" />
    <title>Home</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class='container' width='600px'>
        <label style="width:90px">여러분의 점심선택 시간을 줄여줄 획기적인
            사이트입니다!</label><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <img src="C:/Users/admin/Desktop/project-master/templates/rest/치킨.png">

        <button type="button" class="btn pull-right" value="a">페이지 둘러보기</button>

    </div>
</body>

</html> -->