<!doctype html>
{% extends 'rest/base.html' %}
{% block content %}

<div class="text-center" >
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <div class="title">
          <h1>R . I . P</h1>
          <span class="byline">Restaurant In Program</span>
        </div>
        
      </div>
    </header>

    <h3 class="cover-heading" style='margin-top:30px'>Welcome</h3>
    <p class="lead">This is the site for your LunchTime more effective</p>
    <p class="lead">
      <div class='container' width='600px' style='margin-top:40px'>


        <!-- <img src="/static/icon/menu1.png" onclick="location.href='/rest/index'"> -->
        <img src="/static/icon/menu1.png" onclick="location.href='/rest/index'">
        
      </div>
      
    </p>
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>you will get enough time with this program </p>
      </div>
    </footer>
  </div>
</div>
{% endblock %}