<!DOCTYPE html>
{% extends 'rest/base.html' %}

{% block content %}

<body>
    <div class='container'>
        <table style='width:100%;'>

            <form class="form-inline my-2 my-lg-0" action="board" method="GET">
                <td align='center' style='width:50%; vertical-align:top;'>
                    <div align='center' style='margin-top:16px'>
                        <font size='7' color="#3D4449" face='comic sans ms'>Restaurant In Program</font>
                </div>
                    <div class="container" align='center' style='margin-top:50px; width:700px'>
                        <a style='font-family: Nanum Pen Script;font-size:xx-large;color:#7F888F;width:430px' class="btn btn-white">카테고리를 선택하세요
                            (복수선택 가능)</a>
                        <div style='margin-top:30px'></div>
                        <div class='input_chk' style="width:700px; color: #7F888F;">


                            <input type="checkbox" id='cb1' name='cate0' value='한식' class='chk'>
                            <label for='cb1' style="font-size:1.2em; ">한식</label>&nbsp;&nbsp;

                            <input type="checkbox" name='cate1' value='중식' class='chk'>
                            <label for='check' style="font-size:1.2em;">중식</label>&nbsp;&nbsp;

                            <input type="checkbox" name='cate2' value='양식' class='chk'>
                            <label for='check' style="font-size:1.2em;">양식</label>&nbsp;&nbsp;

                            <input type="checkbox" name='cate3' value='일식' class='chk'>
                            <label for='check' style="font-size:1.2em;">일식</label>&nbsp;&nbsp;

                            <input type="checkbox" name='cate4' value='간식' class='chk'>
                            <label for='check' style="font-size:1.2em;">간식</label><br><br>

                            <input type="checkbox" name='cate5' value='도시락' class='chk'>
                            <label for='check' style="font-size:1.2em;">도시락</label>

                            <input type="checkbox" name='cate6' value='분식' class='chk'>
                            <label for='check' style="font-size:1.2em;">분식</label>

                            <input type="checkbox" name='cate7' value='뷔페' class='chk'>
                            <label for='check' style="font-size:1.2em;">뷔페</label>

                            <input type="checkbox" name='cate8' value='아시아음식' class='chk'>
                            <label for='check' style="font-size:1.2em;">아시아음식</label><br><br>

                            <input type="checkbox" name='cate9' value='술집' class='chk'>
                            <label for='check' style="font-size:1.2em;">술집</label>

                            <input type="checkbox" name='cate10' value='치킨' class='chk'>
                            <label for='check' style="font-size:1.2em;">치킨</label>

                            <input type="checkbox" name='cate11' value='패밀리레스토랑' class='chk'>
                            <label for='check' style="font-size:1.2em;">패밀리레스토랑</label><br><br>

                            <input type="checkbox" name='cate12' value='패스트푸드' class='chk'>
                            <label for='check' style="font-size:1.2em;">패스트푸드</label>

                            <input type="checkbox" name='cate13' value='퓨전요리' class='chk'>
                            <label for='check' style="font-size:1.2em;">퓨전요리</label>

                            <input type="checkbox" name='cate14' value='카페' class='chk'>
                            <label for='check' style="font-size:1.2em;">카페</label>


                        </div>
                        <div style='margin-top:70px'></div>
                        <a style='font-family: Nanum Pen Script;font-size:xx-large;color:#7F888F;width:430px' class="btn btn-white" >거리를
                            설정하세요.</a><br>
                        <select name="distance" style=" margin-top:30px;">
                            <option value="100">100m</option>
                            <option value="200">200m</option>
                            <option value="300">300m</option>
                            <option value="400">400m</option>
                            <option value="500">500m</option>
                        </select>&nbsp;<br><br>

                        <button class='btn btn-dark' type="submit">통합검색</button> &nbsp;&nbsp;
            </form>
            </td>

    </div>
    </div>


    </div>
    </div>
    </table>
    </div>
</body>
{% endblock %}

</html>