<html>

<head>
    <meta charset="UTF-8" />
    <title>BOARD WRITE</title>
    <link href="static/css/bootstrap.min.css" rel='stylesheet' />
</head>

<body>

    <div class='container'>
        <h1>게시판글쓰기</h1>
        <div class='box'>
            <form action='boardw' method='post'>
            <div class='form-inline' style=margin-top:30px;'>
                <label style='padding-right:30px'>제목</label>
                <input type='text' name='title' style='width:650px;' class='form-control' placeholder="제목" required />

            </div>
            <div class='form-inline' style='margin-top: 5px;'>
                <a style='padding-right:100px'>내용</a>
            </div>
            <div class='form-inline' style='margin-top:5px'>
                <textarea rows=6 name='content' style='width:750px' class='form-control' placeholder="내용"
                    required></textarea>
            </div>


            <div class='form-inline' style='margin-top: 5px;'>
                <label style='padding-right:20px'>작성자</label>
                <a type='text' name='writer' class='form-control'>{{session['username']}}</a>

            </div>
            <div style='margin-top:5px'>
            <button type="submit" class="btn btn-success">글쓰기</button>
            <button type="reset" class="btn btn-primary">새로작성</button>
        </form>
        </div>
        </div>
</body>

</html>