<html>

<head>
    <meta charset="UTF-8">
    <title> INDEX </title>
    <link href='static/css/bootstrap.min.css' rel='stylesheet' />
    <link href='static/css/mystyle.css' rel='stylesheet' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

    <div class='container' width='600px'>
        <div class='box'>
        <h1>INDEX</h1>
        {%if 'userid' not in session %}
        <h3><br /></h3>
        <a type="button" class="btn btn-dark" href='login'>로그인</a>
        <a type="button" class="btn btn-dark" href='join'>회원가입</a>
        {%else%}
        <h3>{{session['username']}}님</h3>
        <a type="button" class="btn btn-dark" href='logout'>로그아웃</a>
        <a type="button" class="btn btn-dark" href='memberlist'>회원목록</a>
        <a type="button" class="btn btn-dark" href='board?no=1&type=brd_title&text='>게시판</a>
        {%endif%}

        <a type="button" class="btn btn-dark" href='button'>dropdown</a>
    </div>
        
        
    </div>
    <div>
        <p>
            <!-- 1.목차 -->
        </p>
    </div>
</body>

</html>