<html>

<head>
    <meta charset="UTF-8" />
    <title> 회원가입 </title>
    <link href="static/css/bootstrap.min.css" rel='stylesheet' />
    <link href="static/css/mystyle.css" rel='stylesheet' />
</head>

<body>
    <form action='join' method='post'>
    <div class='container'>

        <h1>회원가입</h1>

        <label>아이디&emsp;&emsp;&emsp;</label>
        <input type='text' name='id' pattern="[a-z0-9_]+" maxlength="20" placeholder="ID" required/><br/>
        <!-- <button type="button" class="btn btn-outline-dark" style="width:90px" formaction="false2.html">중복확인</button><br/> -->
        <label>비밀번호&emsp;&emsp;</label>
        <input type="PASSWORD" name='pw' minlength="8" maxlength="20" placeholder="password" required /><br />
        <label>비밀번호확인</label>
        <input type="PASSWORD" name='pw2'minlength="8" maxlength="20" placeholder="password" required /><br />
        <label>이름&emsp;&emsp;&emsp;&emsp;</label>
        <input type="NAME" name='name' placeholder="username" required /><br />
        <label>휴대폰&emsp;&emsp;&emsp;</label>
        <select style='width:52px' name='tel1'>
            <option value='010'>010</option>
            <option value='011'>011</option>
            <option value='016'>016</option>
            <option value='017'>017</option>
        </select>-
        <input type="text" name = tel2 style='width:52px' pattern="[0-9_]+"/>-
        <input type="text" name = tel3 style='width:52px' pattern="[0-9_]+"/><br />
        <label>이메일&emsp;&emsp;&emsp;</label>
        <input type="text" name = 'email1' style='width:73px' />@
        <select style='width:85px' name = email2>
            <option value='naver.com'>naver.com</option>
            <option value='daum.net'>daum.net</option>
            <option value='google.com'>google.com</option>
        </select><br />
        <div class='input_chk'>
        <input type="checkbox" id='check' class='chk'required >
        <label for='check' id='terms'>약관에 동의 하십니까?</label>
        </div>
        <button type="submit" class="btn btn-success" >Submit</button>
        <button type="reset" class="btn btn-primary">reset</button>


    </div>
    </form>
</body>

</html>