<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Document</title>
</head>
<body>
        <form action='/board/auth_edit'method='post'>
            <label>아이디</label>
            <input type='text' name = 'username' value={{user.username}} readonly><br/>
            <label>이름</label>
            <input type='text' name = 'firstname' value={{user.first_name}}><br/>
            <label>성</label>
            <input type='text' name = 'lastname' value={{user.last_name}}><br/>
            <label>이메일</label>
            <input type='text' name = 'email' value={{user.email}}> <br/>
            
            <button type='submit'>수정완료</button>
            </form>
</body>
</html>