<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WRITE</title>
    <link href='/static/css/bootstrap.min.css' rel='stylesheet' />
</head>

<body>
    <div class='container'>
        <h1>게시판글쓰기</h1>

        <form action='/board/write' method='post' enctype='multipart/form-data'>
            <div class='form-inline' style='margin-top:30px'>
                <label style='padding-right:30px'>제목</label>
                <input type='text' name='title' style='width:650px;' class='form-control' placeholder="제목" required />

            </div>
            <div class='form-inline' style='margin-top: 5px;'>
                <a style='padding-right:100px'>내용</a>
            </div>
            <div class='form-inline' style='margin-top:5px'>
                <textarea rows=6 name='content' style='width:750px' class='form-control' placeholder="내용"
                    required></textarea>
            </div>


            <div class='form-inline' style='margin-top: 5px;'>
                <label style='padding-right:20px'>작성자</label>
                <input type='text' name='writer' style='width:650px;' class='form-control' placeholder="작성자" required />
                <!-- <a type='text' name='writer' class='form-control'>session['username']</a> -->

            </div>
            <div class="form-inline">
                <label style='padding-right:30px'>이미지첨부</label>
                <input type="file" class="form-control-file" name='img'>
            </div>
            <div style='margin-top:5px'>
                <button type="submit" class="btn btn-outline-success">글쓰기</button>
                <button type="reset" class="btn btn-outline-primary">새로작성</button>
                <button class="btn btn-outline-dark" onclick='history.back()'>되돌아가기</button>
        </form>



    </div>

</body>

</html>